<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id          =     "com.ionicframework.actionsport"
        version     =    "1.0.0"
        xmlns       =    "http://www.w3.org/ns/widgets"
        xmlns:gap   =    "http://phonegap.com/ns/1.0"
        versionCode =   "1">
  <name>ActionSport</name>
  <description>
        ActionSport
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      ActionSport
    </author>
      <access origin="*"/>
  <content src="index.html"/>

  <preference name="phonegap-version" value="cli-7.1.0" />
  <preference name="orientation" value="portrait" />
  <preference name="webviewbounce" value="false"/>


  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
<!--   <preference name="SplashScreenDelay" value="2000"/>

  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="SplashScreen" value="screen"/>
<preference name="AllowInlineMediaPlayback" value="true" />

   -->


  <preference name="FadeSplashScreenDuration" value="3000"/>
  <preference name="SplashScreen" value="screen"/>


  <preference name="android-minSdkVersion" value="15"/>
      <preference name="android-targetSdkVersion"   value="23" />     


  <preference name="BackupWebStorage" value="none"/>

    <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  


  <preference name="KeyboardDisplayRequiresUserAction" value="true" />
  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />



<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>Escanear QR codes</string>
</edit-config>
<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    <string>Escanear QR codes</string>
</edit-config>
<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>Escanear QR codes</string>
</edit-config>
<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
    <string>Escanear QR codes</string>
</edit-config>



<!--   <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature> 


  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

  <preference name="StatusBarOverlaysWebView" value="false" />

  <preference name="StatusBarStyle" value="lightcontent" />

  
-->

  <preference name="StatusBarOverlaysWebView" value="false" />

  <preference name="StatusBarStyle" value="lightcontent" />

  <preference name="android-build-tool" value="gradle" />

  <preference name="YouTubeDataApiKey" value="AIzaSyBSJcqdt3hnOf3NYcmiKDAzwEi4lvZxeR8" />



<!--   <gap:plugin name="cordova-plugin-camera"  source="npm"  spec="2.4.1" />
  <gap:plugin name="cordova-plugin-file-transfer"  source="npm" spec="1.6.3" />

<gap:plugin name="cordova-plugin-file"  source="npm" spec="~4.3.3"/> 


<gap:plugin name="phonegap-plugin-barcodescanner"  source="npm" />
-->
<plugin name="cordova-plugin-camera" spec="2.4.1">
<variable name="CAMERA_USAGE_DESCRIPTION" value="ActionSport quiere usar la camara" />
</plugin>


<gap:plugin name="cordova-plugin-device" source="npm"  />
  <plugin name="ionic-plugin-keyboard" version="2.2.1" src="https://github.com/driftyco/ionic-plugin-keyboard" />

<gap:plugin name="cordova-plugin-splashscreen" source="npm"  />
<gap:plugin name="cordova-plugin-statusbar"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" version="1.3.1" source="npm" />
<gap:plugin name="cordova-plugin-network-information" source="npm" version="1.0.1" />
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"  />


<plugin name="phonegap-plugin-push" version="1.5.3" source="npm">
    <param name="SENDER_ID" value="767342908219" />
</plugin>
<!-- add a version here, otherwise PGB will use whatever the latest version of the package on npm is \

-->
<plugin name="phonegap-plugin-barcodescanner" />

<gap:plugin name="cordova-plugin-youtube-video-player" source="npm"  />





       <access origin="*" />
<allow-intent href="*" />
 <allow-navigation href="*" />

<icon src="icon.png" />


<icon src="assets/icon/36.png" platform="android" qualifier="ldpi" />
<icon src="assets/icon/48.png" platform="android" qualifier="mdpi" />
<icon src="assets/icon/72.png" platform="android" qualifier="hdpi" />
<icon src="assets/icon/96.png" platform="android" qualifier="xhdpi" />
<icon src="assets/icon/144.png" platform="android" qualifier="xxhdpi" />
<icon src="assets/icon/192.png" platform="android" qualifier="fr-xxhdpi"/>





    <icon gap:platform="ios" height="40" src="assets/icon/40.png" width="40" />
    <icon gap:platform="ios" height="80" src="assets/icon/80.png" width="80" />
    <icon gap:platform="ios" height="48" src="assets/icon/48.png" width="48" />
    <icon gap:platform="ios" height="76" src="assets/icon/76.png" width="76" />
    <icon gap:platform="ios" height="152" src="assets/icon/152.png" width="152" />
    <icon gap:platform="ios" height="29" src="assets/icon/29.png" width="29" />
    <icon gap:platform="ios" height="58" src="assets/icon/58.png" width="58" />
    <icon gap:platform="ios" height="50" src="assets/icon/50.png" width="50" />
    <icon gap:platform="ios" height="57" src="assets/icon/57.png" width="57" />
    <icon gap:platform="ios" height="72" src="assets/icon/72.png" width="72" />
    <icon gap:platform="ios" height="114" src="assets/icon/114.png" width="114" />
    <icon gap:platform="ios" height="144" src="assets/icon/144.png" width="144" />
    <icon gap:platform="ios" height="100" src="assets/icon/100.png" width="100" />

   <icon gap:platform="ios" height="120" src="assets/icon/120.png" width="120" />

  <splash src="splash.png" />


<!-- iPhone and iPod touch -->
<splash src="assets/splash/320x480.png" platform="ios" width="320" height="480" />
<splash src="assets/splash/640x960.png" platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<splash src="assets/splash/640x1136.png" platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
<splash src="assets/splash/750x1334.png" platform="ios" width="750" height="1334" />
<splash src="assets/splash/1242x2208.png" platform="ios" width="1242" height="2208" />


<!-- iPad -->
<splash src="assets/splash/768x1024.png" platform="ios" width="768" height="1024" />

<!-- Retina iPad -->
<splash src="assets/splash/1536x2048.png" platform="ios" width="1536" height="2048" />





</widget>